.expanded.row
  .medium-12.large-12.columns
    %h1= question.title

    %table
      %tr
        %th Option
        %th Votes
      - question.options.each do |option|
        %tr
          %td= option.title
          %td= option.votes.count

    %p
      = link_to 'Back', question_path(question), class: 'button hollow'
