.nested-fields
  = f.input :title, label: false, placeholder: 'Put your option here', wrapper_html: { class: 'large-8 medium-8 columns' }
  = link_to_remove_association 'Remove option', f, class: 'tiny button hollow alert large-4 medium-4 columns'
